/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-purple: #732e9b;

  /* Font size */
  --font-large: 100px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* cursor */
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  background: url("imgs/background/beautiful_sky.png") center/cover no-repeat;
}

a {
  text-decoration: none;
}

ul {
  /* list-style */
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 4px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Section common */
.section {
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* main__content */
.main__content {
  display: flex;
  width: 100%;
  height: 90%;
}

/* todo-List */
/* #todo-List {
  width: 300px;
  height: 700px;
  margin: 20px;
  color: var(--color-white);
} */

.todo-List {
  width: 31%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  position: relative;
  transform: translateX(-100%);
}

.todo-List.open {
  transform: translateX(0%);
  transition: transform var(--animation-duration) ease-in-out;
}

.todo-List.close {
  transform: translateX(-100%);
  transition: transform var(--animation-duration) ease-in-out;
}

.todo-List h2,
h3 {
  margin: 20px;
  color: var(--color-white);
}

.todo-List__Add-task {
  padding: 0px 10px;
  margin: auto;
}
.todo-List__Add-task input {
  width: 100%;
  height: 30px;
}

.todo-List__title {
  height: 40%;
  margin: 10px 0px;
}

.todo-List__content {
  margin: 10px 20px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}

.todo-List__toggle-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  display: none;
}

.todo-List__toggle-btn.open {
  display: block;
}

.todo-List__toggle-btn2 {
  position: absolute;
  top: 24px;
  right: 10px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

/* Web Site go */
.website__menu {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.website__menu__item img {
  height: 40px;
  width: 40px;
  margin: 0px 5px;
}

/* home */
#home {
}

/* Contact */
#contact {
  height: 10%;
  width: 100%;
}

.contact__info {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contact__links,
.contact__links i {
  font-size: 35px;
  margin: 2px 0px;
  color: var(--color-black);
}

.contact__links:hover,
.contact__links i:hover {
  color: var(--color-purple);
  transform: scale(1.1);
  transition: transform var(--animation-duration) ease;
}

.contact__rights {
  margin: 0px 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #todo-List {
    flex-direction: column;
    align-items: flex-start;
  }
  .todo-List__toggle-btn {
    display: block;
  }

  .todo-List {
    display: none;
  }
  .todo-List.open {
    display: block;
  }
  .website__menu {
    justify-content: center;
    margin: 12px;
  }

  .website__menu__item img {
    height: 30px;
    width: 30px;
  }
}
