/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-purple: #732e9b;
  --color-grey: #616161;
  --color-light-grey: #969696;

  /* Font size */
  --font-large: 100px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* cursor */
body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  background: url("imgs/background/beautiful_sky.png") center/cover no-repeat;
}

a {
  text-decoration: none;
}

ul {
  /* list-style */
  list-style: none;
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 4px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Section common */
.section {
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* main__content */
.main__content {
  display: flex;
  width: 100%;
  height: 90%;
}

/* todo-List */
/* #todo-List {
  width: 300px;
  height: 700px;
  margin: 20px;
  color: var(--color-white);
} */

.todo-List {
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  position: relative;
  transform: translateX(-100%);
}

.todo-List.open {
  transform: translateX(0%);
  transition: transform var(--animation-duration) ease-in-out;
}

.todo-List.close {
  transform: translateX(-100%);
  transition: transform var(--animation-duration) ease-in-out;
}

.todo-List h2,
h3 {
  margin: 20px;
  color: var(--color-white);
}

.todo-List__form {
  display: block;
  text-align: center;
  margin: 10px 0px;
  padding: 0px 10px;
}

.todo-List__form input {
  width: 50%;
  height: 40px;
  border: 0px;
  background: transparent;
  text-align: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  border-bottom: 2px solid var(--color-light-grey);
  border-top: 2px solid transparent;
  padding: 14px 10px;
  outline: none;
  color: var(--color-white);
  border-radius: 24px;
  transition: 0.2s;
}

.todo-List__form input:hover {
  border-bottom-color: var(--color-purple);
}

.todo-List__form input:focus {
  width: 90%;
  border-color: var(--color-purple);
}

.todo-List__title {
  height: 40%;
  margin: 10px 0px;
}
.todo-List__title h3 {
  text-shadow: yellow 3px 0 5px;
}

.todo-List__content {
  margin: 10px 20px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}
.todo-List__content li {
  margin: 5px 10px;
}
.todo-List__content button {
  padding: 0px;
  float: right;
  margin-left: 15px;
}

.fas.fa-check {
  color: red;
}

.fas.fa-trash-alt,
.far.fa-arrow-alt-circle-down,
.far.fa-arrow-alt-circle-up {
  color: var(--color-white);
  font-size: var(--font-regular);
  border: 1px solid transparent;
}
.fas.fa-trash-alt:hover,
.far.fa-arrow-alt-circle-down:hover,
.far.fa-arrow-alt-circle-up:hover {
  border: 1px solid red;
  transform: scale(1.2);
  color: var(--color-white);
  background-color: red;
  transition: all var(--animation-duration) ease;
}

.todo-List__toggle-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 40px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  display: none;
}

.todo-List__toggle-btn.open {
  display: block;
}

.todo-List__toggle-btn2 {
  position: absolute;
  top: 24px;
  right: 10px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

/* Web Site go */
.website__menu {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.website__menu__item img {
  height: 40px;
  width: 40px;
  margin: 0px 10px;
}

/* Home */
#home {
  width: 40%;
}

/* Home - name */
.home__name {
}

.name__form input[type="text"] {
  margin: 10px 0px;
  border: 0px;
  background: transparent;
  text-align: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  border-bottom: 2px solid var(--color-light-grey);
  border-top: 2px solid transparent;
  padding: 14px 10px;
  width: 240px;
  outline: none;
  color: var(--color-black);
  border-radius: 24px;
  transition: 0.2s;
}
.name__form input[type="text"]:hover {
  border-bottom-color: var(--color-purple);
}
.name__form input[type="text"]:focus {
  width: 70%;
  /* border: 2px solid var(--color-purple); */
  border-color: var(--color-purple);
}

.name__view {
  color: var(--color-black);
  font-weight: var(--weight-bold);
}

.name__form.name__Y {
  display: none;
}

.search__form input[type="text"] {
  margin: 10px 0px;
  border: 0px;
  background: transparent;
  text-align: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  border-bottom: 2px solid var(--color-light-grey);
  border-top: 2px solid transparent;
  padding: 14px 10px;
  width: 240px;
  outline: none;
  color: var(--color-black);
  border-radius: 24px;
  transition: 0.2s;
}
.search__form input[type="text"]:hover {
  border-bottom-color: var(--color-purple);
}
.search__form input[type="text"]:focus {
  width: 70%;
  /* border: 2px solid var(--color-purple); */
  border-color: var(--color-purple);
}

/* Calendar - Weather */
#calendar-weather {
  width: 30%;
}

.calendar table {
  height: 300px;
  width: 80%;
  table-layout: fixed;
  margin: auto;
  font-size: var(--font-regular);
}

.calendar__head {
  cursor: pointer;
}

.calendar__minus_year:hover,
.calendar__minus_month:hover,
.calendar__plus_month:hover,
.calendar__plus_year:hover {
  transform: scale(1.4);
  color: blue;
  transition: transform var(--animation-duration) ease;
}

.calendar__selected {
  cursor: default;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.calendar__today {
  cursor: pointer;
  padding: 5px 13px;
  color: #52734d;
  font-weight: var(--weight-semi-bold);
  text-align: left;
}
.calendar__today:hover {
  color: blue;
  transition: var(--animation-duration);
}

.calendar__week {
  font-weight: var(--weight-semi-bold);
}

.calendar__week td:first-child,
.calendar__dates > tr > td:first-child {
  color: red;
}

.calendar__week td:last-child,
.calendar__dates > tr > td:last-child {
  color: blue;
}

.prev__month__date,
.next__month__date {
  opacity: 0.3;
}

.this__month__date.today_date {
  font-size: 20px;
  display: block;
  border: 1px solid var(--color-white);
  background-color: #9bcc29;
  color: var(--color-white);
}

.calendar__date:hover {
  background-color: #9bcc29;
  color: var(--color-white);
}

/* Contact */
#contact {
  height: 10%;
  width: 100%;
}

.contact__info {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contact__links,
.contact__links i {
  font-size: 35px;
  margin: 2px 0px;
  color: var(--color-black);
}

.contact__links:hover,
.contact__links i:hover {
  color: var(--color-purple);
  transform: scale(1.1);
  transition: transform var(--animation-duration) ease;
}

.contact__rights {
  margin: 0px 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #todo-List {
    flex-direction: column;
    align-items: flex-start;
  }
  .todo-List__toggle-btn {
    display: block;
  }

  .todo-List {
    display: none;
  }
  .todo-List.open {
    display: block;
  }
  .website__menu {
    justify-content: center;
    margin: 12px;
  }

  .website__menu__item img {
    height: 30px;
    width: 30px;
  }
}
